.blue {
  background-color: #001a4f;
  color: white;
}

.counter-blue {
  background-color: red;
  color: white;
}

.hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

.form-control{
font-size: 12px;
/* font-weight: bold;   */
color: white;
height: 2%;
background-color: #001a4f;
margin: 8%;
border: 2px solid white;
}

label {
  font-size: 12px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
  background-color: #001a4f;

}

::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
  background-color: #001a4f;

}

 