.blue {
  background-color: #001a4f;
  color: white;
}

.counter-blue {
  background-color: red;
  color: white;
}

*:focus {outline: none;}

.form-control{
font-size: 12px;
/* font-weight: bold;   */
color: white;
height: 2%;
background-color: #001a4f;
margin: 8%;
border: 2px solid white;
}

label {
  font-size: 12px;
}

::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
  background-color: #001a4f;

}

::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
  background-color: #001a4f;
}

input[type=text]:focus, input[type=email]:focus,textarea:focus,select:focus{
  background-color: #001a4f !important;
  color: white !important;
  border: none;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  width: 120%;
  resize: none;
}

::-webkit-validation-bubble-message {
  background-color: #001a4f !important;
  color: white;
}

.scrollspy-example{
  position: relative;
}

.progress{
  border-radius: 0 !important;
}

@media screen and (min-width: 768px) {

  .custom-collapse .collapse{
              display:block;
        }  
  }

.btn-group-sm>.btn, .btn-sm {
    float: none;
}
.listgroup-toggle {
    display: inline-block;
    float: none;
}
}

 