
.blue {
  background-color: #001a4f;
  color: white;
}

.blue-font{
  color: #001a4f;
}

.counter-blue {
  background-color: red;
  color: white;
}

*:focus {
  outline: none;
}

.nice-font{
font-family: 'Karla', sans-serif;
}

.form-control {
  font-size: 12px;
  /* font-weight: bold;   */
  color: #001a4f;
  height: 2%;
  background-color: white;
  margin: 8%;
  border: 2px solid #001a4f;
  width: 75%;
  overflow: visible;
}

label {
  font-size: 12px;
}

::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #001a4f;
  opacity: 1; /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #001a4f;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #001a4f;
  background-color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #001a4f;
  background-color: white;
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus,
select:focus {
  background-color: white !important;
  color: #001a4f !important;
  border: none;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  width: 80%;
  resize: none;
}

::-webkit-validation-bubble-message {
  background-color: white !important;
  color: #001a4f;
}

.scrollspy-example {
  position: relative;
}

.progress {
  border-radius: 0 !important;
}


.btn-group-sm > .btn,
.btn-sm {
  float: none;
}
.listgroup-toggle {
  display: inline-block;
  float: none;
}

.clip-circle {
  clip-path: circle(30% at center);
}

.thank-you {
  opacity:0;
  position: absolute;
}

.fade-out {
  transition:opacity 1s linear;
  transition-delay: .5s;
  opacity:0;
}
.fade-in {
  transition: opacity 1s linear;
  transition-delay: 1.6s;
  opacity:1;
}

