.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  object-fit: contain;
  box-sizing: border-box;
  padding: 14px 34px 0 34px;
  font-family: 'IBM Plex Mono';
  color: darkslategrey;
  font-weight: 400;
  font-kerning: none;
  letter-spacing: 1.2px;
  line-height: 1.2em;
}

.container:empty{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.bottom-links {
  padding: 2px 30px 0 0px;
}


span {
  font-weight: bold;
  padding: 20px 20px 10px 0;
}

video {
  padding: 20px 20px 20px 0;
}

video > source {
  margin: 10px;
  padding: 20px;
  width: 320px;
}

.fila {
  width: 100%;
  height: 60px;
  background-color: yellow;
  position: relative;
  box-shadow: inset 0px 0px 0px lightblue;
  transition: box-shadow 10s ease;
  margin: 10px;
  overflow: hidden;
}

.contact-fila {
  background-color: #FFFFBF;
}

.marker {
  display:inline-block;
  padding: 8px;
  overflow: auto;
  /* transform-origin: top left; */
  /* transform:rotateZ(90deg); */
  background-color: blue;
  color: white;
}

.contact-form {
  display: none;
}

.c1,
.c2,.c3 {
  object-fit: contain;
  box-sizing: border-box;
  padding: 5px;
}

.c3{
  text-shadow: 0px px white;
  background-color: white;
}

section {
  padding: 0 0 30px 0;
}

info-section {
  padding: 6px 0;
}

.title {
  font-size: 2.5em !important;
  line-height: 1.2em !important;
  padding-bottom: 2px;
  font-weight: bolder !important;
  font-kerning: none !important;
  letter-spacing: 2px !important;
  top: 0;
  left: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}

.lesskerning {
  letter-spacing: -3px !important;
}

.horse {
  height: 50px;
  width: 50px;
}

.icon {
  font-size: 1.8em;
  padding-bottom: 10px;
}

img {
  width: 100%;
  object-fit: contain;
  box-sizing: border-box;
  padding: 10px 0;
}

a {
  text-decoration: none;
  padding: 2px;
  display: inline-block;
  color: darkslategrey;
  outline: 0;
}

a:hover {
  color: grey;
  /* cursor: */
}

a:active {
  color: grey;
}

a::after {
  /* display: inherit; */
  margin: 0 132px 0 0;
  font-family: 'Font Awesome 5 Free';
  font-weight: 100;
  /* content: ' ⤜'; */
}

p {
  font-size: 12px;
}

.bolder {
  font-weight: bolder;
}

li {
  font-size: 12px;
}

h2 {
  font-weight: bold;
  font-size: 22px;
  padding: 10px 0 0 20px;
  z-index: -5;
  vertical-align: 36px;
}

hr {
  border: none;
  height: 2px;
  margin: 12px 0;
  color: black;
  background-color: black; /* Modern Browsers */
}

.project-info {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 16px;
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
  flex-wrap: nowrap;
}

.form-control {
  border: none;
  border-bottom: 1px solid darkslategray;
  display: block;
  font-size: 12px;
  margin: 4px 0 14px 0;
}

.form-control::placeholder {
  font-family: 'IBM Plex Mono';
  color: lightgray;
  font-weight: 400;
  font-kerning: none;
  letter-spacing: 2px;
  line-height: 24px;
}

input[type='submit'] {
  font-family: 'IBM Plex Mono';
  color: gray;
  font-weight: 400;
  font-kerning: none;
  letter-spacing: 2px;
  line-height: 24px;
}

textarea {
  width: 100%;
}

@media (max-width: 600px) {
  .c1 {
    order: 2;
  }

  .c2 {
    order: 3;
  }

  .c3 {
    order: 1;
    /* border:1px solid blue; */
    position: sticky;
    top:0;
  }
  
  .menu-content {
    visibility: hidden;
    display: none;
  }
}
@media (min-width: 600px) {
  .c1 {
    width: 70%;
    -webkit-order: 3;
    order: 3;
    height: 100%;
  }

  .c2 {
    width: 30%;
    -webkit-order: 2;
    order: 2;
    height: 100%;
    position: sticky;
    top: 0;
  }

  .c3 {
    /* border: 1px solid red; */
    display:block;
    z-index: 10;
    width: 100%;
    -webkit-order: 1;
    order: 1;
    height: 100%;
    position: sticky;
    top: 0;
  }

  .half-size {
    width: 50%;
    object-fit: contain;
    box-sizing: border-box;
    padding: 10px 0 0 5px;
  }

  .two-col {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
  }

  .flex-column {
    display: flex;
    flex-flow: column nowrap;
  }

  .flex-column > p {
    padding: 0 24px 0 0;
  }

  .menu-content {
    visibility: visible;
  }

  .bold {
    font-weight: bold;
    font-size: 16px;
  }
}
