@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i&display=swap');
@font-face {
  font-family: 'Computer';
  src: url('./../Px437_PhoenixEGA_8x8-2y.ttf');
}

body {
  width: 98vw;
  height: 100vh;
}


main {
  margin: 0 30px;
  /* margin-top: 10%; */
  text-align: center;
  width: 60%;
  /* height: 70%; */
  background-color: white;
  padding: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  flex-grow: 0;
  flex-shrink: 0;
}

.content {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
}

.line {
  height: .001px;
  background: white;
  animation: dude 0.75s 1 forwards;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%;
  /* height: 100%;  */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: -2; /* Specify a stack order in case you're using a different order for other elements */
}

@keyframes dude {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}


.text-line {
  width: 100vw;
  height: 6%;
  padding: 1%;
  /* background-color: lightslategray; */
  margin: 10px 0 10px 0;
  font-size: 1em;
}

.block {
  /* background-color: lightcoral; */
  /* width: 49%; */
  /* height: 89%; */
  overflow: visible;
  padding: 2%;
}

.block img {
  /* width: 100%; */
  height: 100%;
  /* margin-bottom: -10px; */
  /* height: 99%; */
}

.block p {
  width: 100%;
  line-height: 1.5em;
  margin-bottom: -150px;
  font-weight: 100;
  overflow: hidden;
  color:whitesmoke;

}

h1 {
  color: black;
  width: 50%;
  height: 10%;
  text-align: left;
  font-size: 20em;
}

p {
  /* color: whitesmoke; */
  margin: 0;
  text-align: left;
  font-size: 2em;
}

a {
  color: white;
  /* text-decoration: none; */
  /* text-align: left; */
  font-size: 4em;
}

.caja{
max-width: 100vw;
height: 100vh;
display: block;
margin: 2% auto 1% auto;
font-family: 'Computer', sans-serif;

}


.caja-inner{
  background: black;
  width: 96%;
  height: 75%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.caja-inner-bottom{
  /* background: lightblue; */
  width: 96%;
  /* height: 75%; */
  margin: 0 auto 0 auto;
  /* display: flex;
  flex-direction: row; */
  font-family: 'Computer', sans-serif;

}

.titulo{
  width: 100%;
  text-align: right;
  font-size: 8vh;
  font-weight: 900;
  display: block;
  font-family: 'Computer', sans-serif;

}

.pies{
  padding-top: 3%;
  width: 100%;
}

.pies{
  width: 70%;
  left:0;
  display: flex;
  justify-content:space-between;
  align-items: flex-end;
  }

.bloq{
  width: 10%;
  /* font-size: 1.3em; */
  /* font-weight: 300; */
}

.bloq:nth-child(1) {
  margin-left: 10px;
}

.bloq:nth-child(3) {
  width: 10%;
  text-align: right;
  font-size: .8em;
  font-weight: 300;
}
