// @import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,70ˇ0i&display=swap');
@font-face {
  font-family: Sofia;
  src: url('/Users/miguelangelalvarez/portfolio/sofiapro-light.otf');
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 10px;
$max_font: 18px;


@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$text-color: #555;

$fontSize_1: 20em;
$fontSize_2: 2em;
$fontSize_3: 1em;
$fontSize_4: 1em;
$fontSize_5: 0.6vw;


$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 768px;

@mixin flexRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2vh auto 1vh auto;
}

@mixin textNormal {
  font-size: $fontSize_3;
  line-height: 1.4em;
}

@mixin textSmall {
  font-size: $fontSize_4;
  line-height: 1.4em;
}

@mixin marginLeft{
  width: 24vw;
  // border: 1px solid black;
}

body{
  font-family: 'Sofia';
  @include fluid-type($min_width, $max_width, $min_font, $max_font);

}
h1 {
  color: $text-color;
  width: 50%;
  height: 10%;
  padding: 2% 0;
  text-align: left;
  font-size: $fontSize_1;
  // @include marginLeft();
}

.titulo {
  width: 100%;
  text-align: left;
  margin: 0 4vw;
  font-size: $fontSize_2;
  font-weight: 900;
  display: block;
}

.text-3d {
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 30px 60px rgba(1, 1, 1, 0.1);
}


a:hover {
  color: $text-color;
}

.menu-text{
  line-height: .1em;
}


// MOBILE
@media (min-width: $breakpoint-mobile) {
  
  .menu {
    @include flexRow();
  }
  a {
    // font-size: $fontSize_4;
    text-decoration: none;
    line-height: 1.5em;
    margin: 2% 2%;
  }

  .caja-inner {
    width: 96%;
    height: 100%;
    margin: 0 auto 0 auto;
    @include flexColumn();
  }

  .caja-inner-bottom {
    width: 96%;
    margin: 2vh auto 0 auto;
    @include flexColumn();
  }

  .block {
    overflow: visible;
    padding: 2%;
    @include textNormal();
    color: $text-color;

  }

  .block img {
    width: 100%;
  }
}

//DESKTOP
@media (min-width: $breakpoint-desktop) {

  .menu {
    @include flexColumn();
    @include marginLeft();
  }
  
  a {
    // font-size: $fontSize_5;
    text-decoration: none;
    line-height: 4vh;
    margin: 2% 2%;
  }

  .caja-inner {
    width: 96%;
    height: 100%;
    @include flexRow();
    margin: 0 auto 0 auto;
  }

  .caja-inner-bottom {
    width: 96%;
    margin: 2vh auto 4vh auto;
    @include flexRow();

  }

  .block {
    width: 50%;
    overflow: visible;
    padding: 2%;
    @include textSmall();
    color: $text-color;
  }

  .block img {
    width: 100%;
  }



}

.pies {
  width: 70%;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.bloq {
  width: 10%;
  font-size: $fontSize_4;
}

.bloq:nth-child(1) {
  margin-left: 10px;
  font-size: $fontSize_4;
}

.bloq:nth-child(3) {
  width: 10%;
  text-align: right;
  font-size: $fontSize_4;
  font-weight: 300;
}

